.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: calc(-100px / 2);
	border-radius: 50%;
}

.circle:hover .text {
	opacity: 1;
	visibility: visible;
}

.text {
	position: absolute;
	min-width: 200px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	color: var(--c-prim);
	font-weight: bold;
}

.top {
	top: 0;
	left: 50%;
	transform: translateY(calc(-100% - 10px)) translateX(-50%);
	text-align: center;
}
.bottom {
	bottom: 0;
	left: 50%;
	transform: translateY(calc(100% + 10px)) translateX(-50%);
	text-align: center;
}
.left {
	top: 50%;
	left: 0;
	transform: translateY(-50%) translateX(calc(-100% - 20px));
	text-align: right;
}
.right {
	top: 50%;
	right: 0;
	transform: translateY(-50%) translateX(calc(100% + 20px));
	text-align: left;
}

@media (max-width: 1024px) {
	.circle {
		position: static;
		margin: 0;
		transform: none !important;
	}
	.text {
		opacity: 1;
		visibility: visible;
		position: static;
		text-align: left;
		transform: none;
		min-width: auto;
	}
}
