.img {
	filter: drop-shadow(0px 4px 25px rgba(6, 140, 166, 0.25));
}
.text {
	background-color: rgba(255, 255, 255, 0.7);
	border: 2px solid #068ca6;
	box-shadow: 0px 4px 4px rgba(6, 140, 166, 0.31);
	border-radius: 10px;
	padding: 14px 18px;
}
